<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>ChatterBox - Socket.io App</title>
</head>

<body>

    <div class ="container" id="app">
            <div class="col-md-4 col-lg-6 offset-lg-3 offset-md-4">  
                <div v-if="ready">
                    <h4>{{name}}</h4>
                    <p v-for="item in info">
                    <small>{{ item.name }} {{ item.type }}</small>
                    </p>
                </div>

    
                <form @submit.prevent="setName" class="mt-4" v-else>
                        <div class="form-group row">
                            <label>Set your Nickname to chat</label>
                          <input type="text" class="form-control col-9" v-model="name" placeholder="What's your nickname?">
                          <input type="submit" value="Add" class="btn btn-sm btn-info ml-1 col-2">
                        </div>   
                </form>

                <div class="card bg-info" v-if="ready">
                    <div class="card-header">
                      My Chat App 
                      <span class="float-right">{{connectionCount}} connections, {{online.length}} Online</span>
                    </div>

                    <ul class="list-group list-group-flush text-right">
                        <small v-if="typing">
                            <i>{{typing}} is typing...</i>
                        </small>
                        <li class="list-group-item" v-for="message in messages">
                          <span :class="{'float-left':(message.type === 1)}"> {{ message.message }}
                            <small>{{ message.by }}</small>
                          </span>                       
                         </li>
                    </ul>

                    <div class="card-body">
                        <form @submit.prevent="send">
                            <div class="form-group">
                              <input type="text" class="form-control" v-model="newmessage" placeholder="Type Here">
                            </div>
                          </form>
                    </div>
                  </div>
            </div>
        </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js" integrity="sha256-NSuqgY2hCZJUN6hDMFfdxvkexI7+iLxXQbL540RQ/c4=" crossorigin="anonymous"></script>
    
</body>
</html>